   
   {% extends "index" %}
   
    {% block content %} 

<section>

  <div class=divHomeLeft>

{% set vijesti = craft.app.sections.getSectionByHandle("vijesti") %}

      <h1><a href="{{ vijesti|raw }}" target=_self class=a-link> Prvi smo ušli na impresivno gradilište Silicijske doline u Zagrebu </a></h1> 
         
        {% for module in entry.modules.all() %}
    
         {% include '_modules/moduleText.twig' %}
         {% include '_modules/moduleVideo.twig' %}
        

        {% endfor %} 

      <hr>

  </div> <br>
</section>

<aside>
   <div>
    <img src="assets/images/barcelona.jpeg" height=446 width=645>

    {% set sport = craft.app.sections.getSectionByHandle("sport") %}

      <h1><a href="{{ sport|raw }}" target=_self class=a-link> Barcelona pobjeđuje i bez Lionela Messija </a></h1> 

   <p>Barcelona je treća s 37 bodova, sedam manje i dvije utakmice više od vodećeg Atletica. Katalonci su u Elche stigli bez 
   Lionela Mesija, ali su ipak stigli do četvrte prvenstvene pobjede u nizu.</p>
   </div><hr>
</aside>
  <div>
    <img src="assets/images/lg.jpg" height=900 width=1550 stylesheet="float: right">

    {% set novac = craft.app.sections.getSectionByHandle("novac") %}

 <h1><a href="{{ novac|raw }}" target=_self class=a-link>U pet godina izgubili 4,5 milijardi dolara: "Razmišljamo o izlasku s tržišta pametnih telefona </a></h1> 

 <p>LG Electronics mogao bi napustiti proizvodnju pametnih telefona, nakon što je u proteklih pet godina u tom poslu 
 izgubio oko 4,5 milijardi dolara, piše korejski poslovni portal The Korea Herald. "Budući da je konkurencija na svjetskom tržištu 
 mobilnih uređaja sve jača, vrijeme je da LG donese hladnu prosudbu i najbolji izbor", rekao je LG-ev menadžer.</p>
  </div>



         

      

    {% endblock %}